{{!-- todo: add form for posting a new post --}}

{{#each posts as |post|}}
<div class="row mb-4 post-header">
    <div class="col mb-9 title">
        <a href="/post/{{post.id}}"><h2 align="left">{{post.title}}</h2></a>
    </div>
    <div class="col mb-3 date">
        <p>Posted by {{post.user.name}} on {{format_date post.date_created}}</p>
    </div>
</div>
<div class="row mb-4 post-content">
    <p>{{post.description}}</p>
</div>
{{/each}}