{{!-- todo: add form for posting a new post --}}
<div class="newPostFormContainer row mb-4">
    <form class="newPostForm" id="usrform">
        <label for="newpostTitle" id="postTitle">Post Title:</label>
        <input type="text" id="newpostTitle" name="newpostTitle">
        <label for="newPostField">Post Body:</label>
        <textarea id="newPostField" name="newpostBody" form="usrform" placeholder="Enter post here..."></textarea>
        <input type="submit" value="Submit">
    </form>
</div>

{{#each posts as |post|}}
<div class="row mb-12 post-header">
    <div class="col mb-6 title">
        <a href="/post/{{post.id}}">
            <h2 align="left">{{post.title}}</h2>
        </a>
    </div>
    <div class="col mb-3 date">
        <p>Posted by {{post.user.name}} on {{format_date post.date_created}}

            {{#if date_updated}}
            <em> updated on {{format_date date_updated}}</em>
            {{/if}}
        </p>
    </div>
    <div class="row mb-12 postOptions">
        <div class="edit col mb-3">
            <i class="fas fa-edit fa-lg"></i>
        </div>
        <div class="delete col mb-3">
            <i class="fas fa-trash fa-lg" data-id={{post.id}}></i>
        </div>
    </div>
</div>
<div class="row mb-4 post-content">
    <p>{{post.description}}</p>
</div>
{{/each}}

<script src="/js/dashboard.js"></script>
<script src="/js/post.js"></script>