<div class="row mb-4 title">
    <h2>{{title}}</h2>
</div>
<div class="row mb-4 date">
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>
<div class="row mb-4 post-content">
    <p>{{description}}</p>
</div>

<div class="row mb-4">
    <h4>Comments</h4>
</div>

{{#if logged_in}}
<div class="commentFormContainer row mb-4">
    <form class="commentForm" id="usrform">
        <textarea id="commentField" name="comment" form="usrform" placeholder="Enter comment here..."></textarea>
        <input type="submit" value="Submit">
    </form>
</div>
{{/if}}

{{#each comments as |comment|}}
<div class="comment">
    <div class="row commentHeader">
        <div class="col mb-9 commentName">
            <h5>{{comment.user.name}}</h5>
        </div>
        <div class="col mb-3 commentDate">
            <p>{{format_date comment.date_created}}</p>
        </div>
    </div>
    <div class="row mb-4 commentContent">
        <p>
            {{comment.content}}
        </p>
    </div>
</div>
{{/each}}

{{!-- todo: add comment adding script --}}
{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}